.DS_Store
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


diagram/assets
diagram/Isometric People Vol 1
diagram/Isometric People Vol 2
diagram/renders/diagram.psd
diagram/monocolor.psd